<div id="vipBite_Body" class="body-content-container">
	<div>this is where a button is to show either you want to add new restaurant or manage restaurant</div>

	<div id="admin_AddNewRestaurant">
	</dev>
	<div id="admin_ManageRestaurant">
	</div>
</div>