<div id="vipBite_Body" class="body-content-container">
	<div id="restaurantContainer" style="margin-top: 10px; margin-bottom: 10px;">
		<div id="restaurantResult" style="background-color: red;display: block; float:left; margin-left: 20px; margin-right:20px; width: 300px; min-height: 50%">
			This is where the restaurant info goes.
		</div>
		<div id="googleMap" style=" display: block; float:left; margin-left: 20px; margin-right:20px; width: 630px; height: 620px"></div>
	</div>
</div>