<div id="vipBite_Body" class="body-content-container">
  <div id="body_TopContent" style="position: relative; width:100%; height: 270px; display:inline-block;">
    <img src="/Image/Home/background.jpg" height="100%" width="100%">
    <div id="vipBite_CreateMemberShip" style="position: absolute; bottom: 30px; left:0px; width: 330px; height: 190px; display: block; background-color: rgba(255, 255, 255, 0.7)">
      <h1 class="AaarghFont margin-top-5px">HOW IT WORKS</h1>
      <li><p class="BonvenoFontBold margin-left-10px"> 1. Eat at one of many VIPbite partner restaurant</p></li>
      <li><p class="BonvenoFontBold margin-left-10px"> 2. Save big by being a VIPbite member</p></li>
      <li><p class="BonvenoFontBold margin-left-10px"> 3. Have some dessert; you've earn it</p></li>
      <div id="becomeVIPbiteMemberButton" class="clickable" style="background-color: #C9CBD4; border: solid 1px black; text-align:center; padding:5px; height: 20px; width: 200px; position: absolute; right: 0px; bottom: 10px;">
        <p style="font-size:12px; font-weight:bolder; line-height: 20px;">
          BECOME A MEMBER NOW
          <img src="/Image/Shared/clickicon.png" width="20px" height="20px" align="top" style="margin-left: 3px;"/>
        </p>
      </div>
    </div>
  </div>
  <div id="body_BottomContent" class="container" style="inline-block: block; margin-top:20px">
    
    <div class="span-7 colborder">
      <h4 class="BonvenoFont">GET THE APP</h4>
      <div class="span-3">
        <p class="BonvenoFont" style="font-size:10px;">Find VIPbite restaurants, track your savings and flash the VIPbite pass when dining.
          The VIPbite App is your passport to outstanding dining experiences.</p>
      </div>
      <div class="span-4 last">
        <img src="/Image/Shared/appstore.png" width="100%"/>
        <img src="/Image/Shared/googleplay.png" width="100%"/>
      </div>
      <div class="span-7">
        <img src="/Image/Shared/getapplogo.png" width="100%" height="190px"/>
      </div>
    </div>

    <div class="span-7 colborder">
      <h4 class="BonvenoFont">PLACES TO SAVE</h4>
      <p class="BonvenoFont" style="text-align: center;">... and counting. Try somewhere new tonight.</p>
      <hr/>
      <div class="span-7">
        <!-- Restaurants.order("modifieddate DESC").limit(5).each do |rests| %>-->
        <% Restaurants.limit(7).each do |rests| %>
            <div class="span-7" style="display: inline">
              <img src="/Image/Home/background.jpg" width="70px" height="30px" style="vertical-align:middle;"><text class="imageCaption"><%= rests.restaurantName %></text></img>
              <hr/>
            </div>
        <%end%>
      </div>
      <div class="span-7">
        <a class="AaarghFont" href="/restaurant" style="float: right">click to see more</a>
      </div>
    </div>
    <div class="span-8">
      <h4 class="BonvenoFont">FOLLOW US</h4>
        <a class="twitter-timeline" width="310px" height ="320px" data-dnt="true" href="https://twitter.com/VIPbite"  data-widget-id="379467725816344576">Tweets by @VIPbite</a>
    </div>

  </div>
</div>

<script>
  !function(d,s,id)
    {var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}
    (document,"script","twitter-wjs");
</script>