<div id="vipBite_Body" class="body-content-container">
  <div class="container">
ABOUT US

VIPbite is a restaurant discount membership program unlike any other food or beverage saving offerings.

Actual Fined Content

<hr/>

Photo Zone
</div>