<div id="vipBite_Body" class="body-content-container">
  <div id="body_TopContent" style="position: relative; width:100%; height: 270px; display:inline-block;">
    <img src="/Image/Home/background.jpg" height="100%" width="100%">
  </div>
  <div id="body_BottomContent" class="container" style="inline-block: block; margin-top:20px">
    
    <div class="span-7 colborder">
      <h4>GET THE APP</h4>
      <div class="span-3">
        <p>Find VIPbite restaurants, track your savings and flash the VIPbite pass when dining.
          The VIPbite App is your passport to outstanding dining experiences.</p>
      </div>
      <div class="span-4 last">
        <img src="/Image/Shared/appstore.png" width="100%"/>
        <img src="/Image/Shared/googleplay.png" width="100%"/>
      </div>
      <div class="span-7">
        <img src="/Image/Shared/getapplogo.png" width="100%" height="100%"/>
      </div>
    </div>

    <div class="span-7 colborder">
      <h4>PLACES TO SAVE</h4>
      <p style="text-align: center">... and counting. Try somewhere new tonight.</p>
      <div class="span-7">
        LOGO LIST
      </div>
      <div class="span-7">
        <a href="/restaurant" style="float: right">click to see more</a>
      </div>
    </div>
    <div class="span-8">
      <h4>FOLLOW US</h4>
        <a class="twitter-timeline" width="310px" height ="320px" data-dnt="true" href="https://twitter.com/VIPbite"  data-widget-id="379467725816344576">Tweets by @VIPbite</a>
    </div>

  </div>
</div>

<script>
  !function(d,s,id)
    {var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}
    (document,"script","twitter-wjs");
</script>